<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Страница диспетчера</title>
    <link rel="stylesheet" href="static/accounts/style.css">
</head>
<body>
<h1>Страница диспетчера</h1>
<div>
<table border="1">
    <thead>
        <tr>
            <th>Номер автобуса</th>
            <th>Время</th>
            <th>Куда ехать</th>
            <th>Статус</th>
        </tr>

    </thead>
    <tbody>
    <tr><td>123</td><td>00:05</td><td>G401</td><td>Выполнена</td></tr>
    <tr><td>312</td><td>00:15</td><td>G402</td><td>Исполняется</td></tr>
    <tr><td>111</td><td>00:25</td><td>G403</td><td>Отклонен</td></tr>
    <tr><td>112</td><td>00:35</td><td>G404</td><td>Назначен</td></tr>
    <tr><td>110</td><td>00:45</td><td>G405</td><td>Исполняется</td></tr>
    <tr><td>120</td><td>00:55</td><td>G412</td><td>Назначена</td></tr>
    <tr><td>121</td><td>01:05</td><td>G415</td><td>Назначена</td></tr>
    <tr><td>310</td><td>01:25</td><td>G416</td><td>Назначена</td></tr>
    <tr><td>311</td><td>01:35</td><td>G417</td><td>Назначена</td></tr>
    <tr><td>333</td><td>01:55</td><td>G420</td><td>Назначена</td></tr>
    <tr><td>222</td><td>02:05</td><td>G421</td><td>Назначена</td></tr>
    <tr><td>221</td><td>02:25</td><td>G504</td><td>Назначена</td></tr>
    <tr><td>224</td><td>02:35</td><td>G502</td><td>Назначена</td></tr>
    <tr><td>421</td><td>02:45</td><td>G503</td><td>Назначена</td></tr>
    <tr><td>123</td><td>02:55</td><td>G505</td><td>Назначена</td></tr>
    <tr><td>553</td><td>03:10</td><td>G518</td><td>Назначена</td></tr>
    <tr><td>556</td><td>03:10</td><td>G507</td><td>Назначена</td></tr>
    <tr><td>557</td><td>03:10</td><td>G519</td><td>Назначена</td></tr>
    </tbody>
</table>
</div>
</body>
</html>